
# directories
.svn
build
config
compiled
data
doc
lib
test

# files
AUTHORS
README-win.txt

config.h
config.h.in
configure
configure.in
aclocal.m4

ChangeLog
INSTALL
Makefile.am
Makefile

GeodesicViewer
GeodesicViewerd

local*

*_debug
.project
.cproject

*.cfg
*.ini
*.obj

*.dat
*.pro
*.user

*.html
*.stash 
README.css


