
# directories
.svn
build
config
compiled
doc
lib
test

# files
AUTHORS
README-win.txt

config.h
config.h.in
configure
configure.in
aclocal.m4

ChangeLog
INSTALL
Makefile.am
Makefile

GeodesicViewer
GeodesicViewerd

*_debug
.project
.cproject

*.cfg
*.ini
*.obj

*.dat
*.pro
*.user

